<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - My eCommerce Store</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <header>
        <div class="header-container">
            <h1><a href="home.html">My eCommerce Store</a></h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>


<main>
    <div class="login-container">
        <h2>Login</h2>
        <form action="dashboard.html" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="btn">Login</button>
        </form>
        <p style="width: 100%;"><span style="text-align: left;"><a href="forgot_passord.html">Forgot Passowrd? </a></span> <span style="text-align: right;">Don't have an account? </span> <a href="register.html">Register here</a>.</p>
    </div>
</main>

<footer>
    <p>&copy; 2023 My eCommerce Store. All rights reserved.</p>
</footer>

</body>
</html>